# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
_build/

# Local support files
.test.ipynb
.test.json
zen.code-workspace
.vscode/settings.json
